h1{
    color: rgb(195, 59, 81);
}

body{
    background-color: rgb(244, 222, 229);
}


.custom-player{

    
    border-color: black;
    color: black;
    padding: 10;
    border-radius: 10;
    display: inline-flex;

}